<!--動作確認用なので変更OKです-->
<!--正式なページ実装後は消す予定です-->


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #chat-box {
            width: 300px;
            height: 500px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    <title>チャット</title>
</head>
<body>
    <h1>チャット</h1>
    <div id="chat-box">
        <ul>
            {% for msg in messages %}
                <li>{{ msg['user_name'] }}</li>
                    <p><font color="#6a0080">{{ msg['message'] }}</font></p>
                    <p><font color="#808000">{{ msg['translated_message'] }}</font></p>
            {% endfor %}
        </ul>
    </div>
    <form action="{{url_for('send_message')}}" method="POST">
        <input type="text" name="message" placeholder="メッセージを入力してください">
        <input type="hidden" value="{{channel['id']}}" name="channel_id" />
        <button type="submit">送信</button>
    </form>
</body>
</html>


















<!--動作確認用なので変更OKです-->
<!--正式なページ実装後は消す予定です


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #chat-box {
            width: 300px;
            height: 500px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    <title>チャット</title>
</head>
<body>
    <h1>チャット</h1>
    <div id="chat-box">
        <ul>
            {% for msg in messages %}
                <li>{{ msg['user_name'] }}</li>
                    <p><font color="#6a0080">{{ msg['message'] }}</font></p>
                    <p><font color="#808000">{{ msg['translated_message'] }}</font></p>
            {% endfor %}
        </ul>
    </div>
    <form action="{{url_for('send_message')}}" method="POST">
        <input type="text" name="message" placeholder="メッセージを入力してください">
        <input type="hidden" value="{{channel['id']}}" name="channel_id" />
        <button type="submit">送信</button>
    </form>
</body>
</html>
-->