<!--動作確認用なので変更OKです-->
<!--正式なページ実装後は消す予定です-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatpage</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&family=Kosugi+Maru&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header_inner">
          <h1 class="header_title">OUR LANGUAGE</h1>
          <a class="header_hamburger" href="#">
            <div class="hamburger_menu_button">
              <span></span><span></span><span></span>
            </div>
          </a>
        </div>
        <section class="select_user_dialog">
          <div class="dli-close"></div>
          <ul class="list_user_wrapper"></ul>
          <div class="select_user_dialog_title_container">
            <h3 class="select_user_dialog_title">
              参加したいチャットを選んでください
            </h3>
          </div>
        </section>
        <section class="hamburger_menu">
          <div class="button_container">
            <button class="menu_button">プロフィール</button>
            <button class="menu_button join_channel">チャットに参加する</button>
            <form action="/logout" method="POST">
              <button type="submit" class="menu_button">ログアウト</button>
            </form>
          </div>

          <h3>Menu</h3>
        </section>
      </div>
      <div class="channel_container">
        {% include "channel-list.html" %}
      </div>
      <div class="message_container">
        {% include "message.html" %}
      </div>
      <div class="input_box_area">
        <div class="input_box_wrapper">
          <div>
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <li class="flashes">
                <span>{{ message }}</span>
            </li>
            {% endfor %}
            {% endwith %}
          </div>
          <form
            class="input_box"
            action="{{url_for('send_message')}}"
            method="POST"
          >
            <textarea
              name="message"
            ></textarea>
            <input type="hidden" value="{{channel_id}}" name="channel_id" />
            <button type="submit">
              <ion-icon name="rocket-outline"></ion-icon>
            </button>
          </form>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script>
      //channel_listクラスの要素を変数listに格納
      const list = document.querySelectorAll(".channel_list");
      console.log(list);

      //liタグをひとつずつ変数itemに格納
      list.forEach((item) => {
        //itemがクリックされたときactive_link関数を呼び出す
        item.addEventListener("click", channel_activate);
      });

      //サブクラスactiveをリンクさせる関数
      function channel_activate() {
        list.forEach((item) => {
          //listの中身を1つずつ変数itemに格納
          item.classList.remove("active"); //acticeをremoveする
        });
        //クリックしたもの(this)のクラスにactiveをaddする
        this.classList.add("active");
      }

      document
        .querySelector(".hamburger_menu_button")
        .addEventListener("click", () => {
          document
            .querySelector(".hamburger_menu")
            .classList.toggle("active_hamburger_menu");
          document
            .querySelector(".hamburger_menu_button")
            .classList.toggle("active_menu");
        });

      document.querySelector(".join_channel").addEventListener("click", () => {
        getActiveUsers();
        document
          .querySelector(".select_user_dialog")
          .classList.add("select_user_dialog_active");
      });

      document.querySelector(".dli-close").addEventListener("click", () => {
        document
          .querySelector(".select_user_dialog")
          .classList.remove("select_user_dialog_active");
      });

      const getActiveUsers = () => {
        fetch("/list-user")
          .then((res) => res.text())
          .then((html) => {
            document.querySelector(".list_user_wrapper").innerHTML = html;
          })
          .catch((error) => console.error("Error:", error));
      };
    </script>

    <script>
      //ページ読み込み時に自動で下までスクロールする
      window.onload = function () {
        const messageArea = document.getElementById("message_iframe");
        messageArea.scrollTop = messageArea.scrollHeight;
      };
    </script>

    <script>
       document.querySelector(".message_container").addEventListener("click", function(event) {
          if (event.target.classList.contains("lower_message")) {
              switch_message.call(event.target);
          }
      });


      function switch_message() {
          //クリックした要素のdata属性を取得
          const datavalue = this.dataset.hiddenMessage;
          //クリックした要素のinnerHTMLを取得
          const innervalue = this.innerHTML;
          //それぞれを入れ替えてセット
          this.dataset.hiddenMessage = innervalue;
          this.innerHTML = datavalue;
      }
        
    </script>

    <script>
      //message_wrapperの中を書き換える
       function message_reload(channel_id) {
            fetch("/reload?channel_id=" + channel_id)
                .then(res => res.text())
                .then(html => {
                    document.getElementById("message_wrapper").innerHTML = html;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

    <script>
    function message_send() {
      const message = document.getElementById("textarea").value;
      fetch("/message", {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({text: text})
      })
      .then(response => response.json())
      .then(data => {
          console.log(data); // サーバーサイドからの応答をコンソールに出力する（任意）
          // サーバーサイドからの応答に応じてクライアントサイドで必要な処理を行う
          // ここでは、サーバーサイドから受け取ったテキストをアラートで表示する
          alert('Received text from server: ' + data.text);
      })
      .catch(error => {
          console.error('Error:', error);
      });
    }
    </script>
  </body>
</html>
