
.container {
    position: relative;
    height: 100vh;
}


/*-------------header-------------------------------*/
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px; /* 20% of viewport height */
    background-color: #32C2EF;
    z-index: 4;
}

/*header部品の枠*/
.header_inner {
    position: relative;
    border-bottom: 2px solid black;
    padding: 0 20px; /*左右の余白確保*/
    display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
    align-items: center;
    justify-content: space-between;
    height: 135px;
  }
  
  /*headerアイコン*/
  .header_icon ion-icon {
    font-size: 3rem;
  }

  /* ヘッダータイトル */
  .header_title {
    padding: 0 20px; /*左右の余白確保*/
  }
   
  /* ハンバーガーメニュー */
  .header_hamburger ion-icon {
    font-size: 3rem;
  }


/*-------------channel-------------------------------*/
.channel_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh; 
    background-color: #C3F1FF;
    z-index: 3;
    overflow-y: auto
}

::-webkit-scrollbar {
    width: 0px;
  }

.channel_wrapper ul {
    position: absolute;
    padding: 0; /*why?*/
    margin: 0;
    top: 135px;
    right: 0;
    height: calc(100vh - 135px); 
    width: 100%;
}

.channel_wrapper ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #2F66B7;
    background-color: #B1DEF7;
}

.channel_wrapper ul li:hover {
    background-color: #8bcff4;
}

.channel_wrapper ul li.active {
    background-color: #2F66B7;
}

.channel_wrapper ul li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.channel_wrapper ul li a .icon {
    min-width: 45px;
    height: 133px;
    line-height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel_wrapper ul li a .icon ion-icon {
    font-size: 3rem;
}

.channel_wrapper ul li a .channel_name {
    padding-left: 30px;
    height: 133px;
    line-height: 133px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


/*-------------chat-------------------------------*/
.message_container {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E3F8FF;
    z-index: 1;
}

/*-------------input-------------------------------*/
.input_box_area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 20vh;
    min-width: 80px;
    background-color: #E8F1FE;
    z-index: 2;
}

.input_box_wrapper {
    height: 100%;
    margin-left:calc(25vw + 10px);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_box {
    height: 80%;
    width: 90%;
    margin: auto;
}

.input_box textarea {
    height: 100%;
    width: 90%;
    margin-right: auto;
    vertical-align : top;
}

.input_box button {
    height: 100%;

    vertical-align : top;
}

.input_box button ion-icon {
    font-size: 1.5rem;
}